* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    max-width: 1900px;
}

header {
    height: 80px;
    background-color: #ADD8E6;
    padding-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    background-color: #DAA520;
    margin: auto;
}

.header-links {
    display: flex;
}

.section1 {
    background-color: #00008B;
    height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-descrizione {
    background-color: #EE82EE;
    height: 400px;
    max-width: 1200px;
    margin: auto;

}

.descrizione {
    max-width: 900px;
    margin: auto;
}

.section2 {
    background-color: white;
    height: 600px;
}

.container-section2{
    display: flex;
    max-width: 1200px;
    margin: auto;
    height: 500px;
    padding-top: 50px;
}

.col60 {
    width: 60%;
    background-color: #1E90FF;
}

.col40 {
    width: 40%;
    background-color: #FFC0CB;
}

.section3 {
    background-color: #D3D3D3;
    height: 600px;
}

.container-section3{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: auto;
    height: 500px;
    padding-top: 50px;
}

.section5 {
    background-color: #D3D3D3;
    height: 950px;
    padding-top: 50px;
}

.container-section5 {
    background-color: #228B22;
    max-width: 1200px;
    height: 850px;
    margin: auto;
}

footer {
    max-width: ;
    height: 730px;
    background-color: #daefff;

}

.container-footer1 {
    
    background-color: #23272A;
    max-width: 1900px;
    height: 595px;
    margin: auto;
}

.col-container {
    display: flex;
    max-width: 1200px;
    height: 530px;
    margin: auto;
    padding-top: 50px;
}

.col1 {
    background-color: #F08080;
    width: calc( 1200px / 6 * 2);
    border: white dashed 2px;
}

.colsmall {
    width: calc( 1200px / 6 );
    background-color: #20B2AA;
    border: white dashed 2px;
}

.container-footer2 {
    background-color: #23272A;
    max-width: 1900px;
    height: 90px;
    margin-top: 1px;
}

.footerflex {
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
    max-width: 1200px;
    height: 90px;
    margin: auto;
    align-items: center;
}

.footer-logo {
    background-color: #FFB6C1;
}

.footer-button {
    background-color: #FFB6C1;
}